<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CuaHangBanHoa.Properties.Settings.QLBanHoaConnectionString"
            connectionString="Data Source=DESKTOP-NI5KHL3\SQLEXPRESS;Initial Catalog=Quanlybanhoa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>